body {
  font-family: "Tilt Neon", "Courier New", Courier, monospace;
  background-color: rgb(39, 80, 30);
  color: bisque;
}

.o {
  translate: 88%;
}
.x {
  translate: 110%;
}
.o,
.x {
  position: fixed;
  transform: scale(0);
}
#header {
  text-align: center;
  font-size: xx-large;
  margin: 50px 0;
}
.gameboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 300px;
  min-height: 300px;
  width: 50%;
  height: 50%;

  max-width: 500px;
  max-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.row-0,
.row-1,
.row-2 {
  border-bottom: 5px solid bisque;
  border-right: 5px solid bisque;

  font-size: 100px;
}

.o.active,
.x.active {
  transform: scale(1);
}

.col-2 {
  border-right: none;
}

.row-2 {
  border-bottom: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
